@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<h3 class="text-center">@Model.Message</h3>

<br />
<br />
<p class=" text-center">This system is implemented as the question 02 - answer of Final Project of Web design and development Diploma in SLIIT. <br />This site is developed by student (IT-WEB-25-66-0028)</p>
